.zelle i {
    
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.zelle {
    background: #671CCA;
}

.money, .am, .to, p {
    text-align: center;
}

.am h2{
    padding: 20px;
    width: 38px;
    background-color: rgb(0, 202, 252);
    border-radius: 50%;
    margin: 0 auto;
    color: white;

}

.am {
    margin-bottom: 30px;
}

.to {
    font-size: 22px;
    color: grey;
}

.the {
    padding-bottom: 15px;
}

.all {
    background-color: orangered;
    color: white;
    border-radius: 5px;
    padding: 2px;
    margin-top: 10px;
}

.all p {
    font-size: 20px;
}

.money h2 {
    color: rgba(0, 0, 0, 0.719);
    font-weight: 600;
}

.zelle h2 {
    color: white;
}

.zelle span {
    color: white;
    font-size: 20px;
    padding-top: 16px;

}

.zelle i {
    color: white;
}

.zelle {
    display: flex;
    flex-direction: center;
    margin-bottom: 20px;
}

.zelle i {
    margin-top: 28px;
    padding-right: 50px;
}

.payment p {
    border: 1px solid grey;
    width: 100px;
    margin-left: 20px;
}